<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <title>Register Page</title>
    <%- include('../partials/head')%>
</head>
<body>
    
    <%- include('../partials/header')%>

      <div class="container my-5">
        <div class="card mx-auto mt-4 bg-body-tertiary">
            <div class="card-body">
            <h5 class="card-title">Register Form</h5>
                <form onsubmit="return false;" id="form" method="POST">
                    
                    <div class="mb-3">
                        <label for="username" class="form-label">Name</label>
                        <input type="text" class="form-control" id="username" name="username" autocomplete="off" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" autocomplete="off" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" autocomplete="off" required>
                    </div>

                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Password Confirm</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" autocomplete="off" required>
                    </div>
                    
                    <div class="alert alert-danger" role="alert" id="error" style="display: none;">
                        A simple danger alert—check it out!
                    </div>
                    <div class="alert alert-success" role="alert" id="success" style="display: none;">
                        A simple danger alert—check it out!
                    </div>

                    <button type="submit" class="btn btn-outline-light">Register</button>
                </form>
            </div>
        </div>
      </div>

      <script src="js/register.js"></script>
</body>
</html>